*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  
}

body{
  font-family: 'Open Sans', sans-serif;
}

.size{
  font-size: .6rem;
}

.w{
  font-weight: 650;
}

/* intestazione */

header>div{
  display: flex;
  margin: 0 15px;
  height: 100%;
  
}
.menu-principale div, .menu-principale nav{
   height: 100%;
   display: flex;
   align-items: center;
}
.menu-principale nav ul{
  display: flex;
}
ul{
  list-style: none;
}
.menu-principale nav ul li a{
  color: black;
  padding: 20px;
  font-size: .7rem;
  font-weight: 500;
 
}
.menu-principale nav ul li a:hover{
  border-bottom: 2px solid black;
}

.menu-principale div img{
  height: 1.2rem;
}

.menu-principale a{
  text-decoration: none;
  font-size: .7rem;

}
.accedi{
  color: black;
  margin-right: 10px;
}
.btn{
  color: white;
  background-color: rgb(0,97,255);
  padding: 5px 8px;
}
/* intestazione */

/* jumbotron */

.jumbotron{
  display: flex;
  justify-content: center;
}
.contenitore-grande {
  width: 100%;
  height: 500px;
  background-color:rgb(180,208,231);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  
}
.contenitore-medio{
  max-width:1100px;
  width: 800px;
  /* height: 520px; */
 
}

h1{
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 50px;

}
.contenuto{
  display:flex;
}
.contenuto .testo-jumbo{
  width: 35%;
  font-size: .6rem;
  padding-right: 10px;
  font-weight: 500;

}
.testo-jumbo p,.testo-jumbo div,.testo-jumbo {
  padding-top: 20px;
  padding-bottom: 30px;

}

.testo-jumbo a{
  text-decoration: none;
  padding: 9px;
}

.testo-jumbo i{
  font-size: 2.5rem;
    
}

.img-jumbo{
  width: 70%;
}
.img-jumbo img{
 width: 100%;
 padding-top: 40px;

}

/* jumbotron */

/* sezione piani business */
.sezione{
  display: flex;
  justify-content: center;
}
.sezione.piani{
  margin-top: 80px;
}
.contenitore-piccolo{
  max-width:1000px;
  width: 750px;
  /* background-color: cadetblue; */
  
}
.scelta{
}
.scelta input{
  margin: 30px 0;
}
.scelta span{
  padding-right: 30px;
  font-size: .6rem ;
  
}
.trova{
  display: flex;
  justify-content: space-between;
}
.opzioni{
  height: 630px;
  width: 30%;
  border: 1px solid rgb(224,224,226);

}
.tipologia{
  text-align: center;
  border: 1px solid rgb(224,224,226);
  padding: 8px;

}
.contenuto-offerte{
  padding: 15px;
  
}
.price{
  font-weight: 650;
  font-size: .6rem;
  padding-bottom: 8px;
  
}
.tempo{
  padding-bottom: 25px;
  color: rgb(137,137,137);
}
h3{
padding: 10px 0;
font-weight: 700;
}
.contenuto-offerte nav{
  margin-bottom: 30px;
  height: 120px;
}

.contenuto-offerte nav,.tempo{
  font-size: .6rem;
  font-weight:500 ;
 }
 .contenuto-offerte nav ul li{
  padding: 8px 0;
 }
 .btn.gratis{
  font-size: .6rem;
  padding: 7px 20px;
  
  
 }
 .btn.contattaci{
  font-size: .6rem;
  padding: 7px 60px;
  text-align: center;

 }
 .acquista{
  padding: 20px 0;
 }
 .salienti{
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  
 }
 .spunte ul li i{
  color:rgb(0,97,255) ;
  font-size: 1.2em;
 
 
 }

 .spunte ul li{ font-weight: 550;
  
 }

 hr{
  width: 40px;
 }

 /* piani business */
 .enterprise{
  margin-top: 20px;
 }

 .contatta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px;
 }
 .enterprise-bottom{
  width: 60%;
  padding: 0px 15px;
 }
.ufficio{
  padding-bottom: 30px;
}
.contenitore-bottom{
  border: 1px solid rgb(224,224,226);
  padding: 15px 10px;
}

.btn.vendite{
  padding: 7px 20px;
}

/* partner */
.partner{
  margin-top:90px;
}

.contenuto-partner{
  display: flex;
  justify-content: space-between;

}
.immagine-partner {
  width: 60%;
 
}
.contenuto-partner div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.testo-partner{
  width: 40%;
  margin: 40px 30px 0 30px;
  
}
.testo-partner div{
  margin-bottom: 30px;
  font-size: .7rem;
  font-weight: 500;
}

.btn-partner{
  border: 1px solid black;
  margin-top: 40px;
  font-size: .7rem;
  font-weight: 500;
  padding: 7px;
}

/* partner  */

/* esegui  */

h2{
  font-size: 2rem;
}

.esegui{
  margin-top: 90px;

}
.contenuto-esegui{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.contenuto-esegui div{
  width: 30%;
  margin-top: 30px;

}
.contenuto-esegui div img{
  object-fit: cover;
  width: 100%;
  
}
.contenuto-esegui div p{
  font-weight: 500;
}
/* esegui  */

/* 500.000 team  */
.team{
  margin-top: 120px;
}
.contenuto-team h2{
  width:70%;
  margin-bottom: 25px;
}
.contenuto-team a{
  font-size: .7rem;
}
/* 500.000 team  */
/* disignit */
.contenitore-pagina{
  width: 100%;
  background-color: aqua;
  height: 400px;
  margin-top: 90px;
  display: flex;
}
.quadrati-contenitori{
  width: calc(100% / 3);  
}
.quadrati-contenitori.centrale{
  overflow: auto;
  height: 400px;
}
.quadrati-contenitori.brand{
  display: flex;
  height: 400px;
  flex-wrap: wrap;

}
.quadrati-contenitori.brand div{
  display: flex;
  height: 50%;
  width: 50%;
  min-width: 100px;
  min-height: 100px;
  
}
.quadrati-contenitori.brand div img{

 width: 100%;
 height: 100%;
 padding: 40px;
 filter: invert(98%);

}
.designit{
  background-color: rgb(162,211,155);
  border:rgb(183, 212, 179) solid 10px ;

}
.asu{
  background-color: rgb(97,8,43);
}
.uf{
  background-color:rgb(0,147,206) ;
}
.topps{
  background-color:rgb(255,28,28) ;
}
.florida{
  object-fit: contain;
}
.hearst{
  background-color: rgb(180,208,231);
}
.world{
  background-color:rgb(213,0,31) ;
}
.lonely{
  background-color:rgb(13,36,129);

}
.clear{
  background-color: rgb(255,216,48);
}

.quadrati-contenitori div img{
  height: 60px;
}
.designit-testo{
  padding: 40px;
}
.designit-testo p{
  padding-top: 40px;
  font-size: .7rem;
  font-weight: 500;
}
.linea-quadrati{
  margin-top: 40px;
}
.designit-testo div{
  font-size: .7rem;
  font-weight: 500;
  padding-top: 40px;
}
/* .designit */

/* azienda */
.sfondo-azzurro{
  background-color: rgb(180,208,231);
  display: flex;
  justify-content: center;
 
  
}
.sfondo-azzurro div{
  display: flex;
  justify-content: space-between;
  padding: 70px 280px;
}
.sfondo-azzurro h2{
  font-size: 1.7rem;
  font-weight: 700;
  width: 50%;
  color: rgb(97,8,43);
}
.sfondo-azzurro div span a{
  font-size: .7rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  background-color: white ;
  padding: 8px 30px;

}

/* azienda */

/* domande */
.domande{
  display: flex;
  justify-content: center;
  margin: 120px 0;
}
.domande .contenitore-piccolo h2{
  padding-bottom: 40px;
  font-size: 1.7rem;
  border-bottom: 1px solid rgb(195,195,195);
}
.contenuto-domande{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
  font-weight: 700;
  padding: 25px 0;
  border-bottom: 1px solid rgb(195,195,195);
}

/* domande  */

/* footer */

.footer-top{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 70px 0;
}
.lista nav ul li{
  font-size: .7rem;
  line-height: 25px;
}
.footer-top .contenitore-medio{
  display: flex;
  color: white;
  justify-content: space-between;

}
.footer-bottom{
  display: flex;
  justify-content: center;
  background-color: black;
  color:rgb(153,153,153);
  font-size: .7rem;
}
.lingua{
  padding: 40px 0;
  border-top: 1px solid white;
  width: 90px;
}


