*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 80px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  
}

body{
  font-family: 'Open Sans', sans-serif;
}

header>div{
  background-color: greenyellow;
  display: flex;
  margin: 0 15px;
  height: 100%;
  
}
.menu-principale div, .menu-principale nav{
  background-color: rgb(235, 235, 81);
   height: 100%;
   display: flex;
   align-items: center;
}
.menu-principale nav ul{
  display: flex;
  list-style: none;
}
.menu-principale nav ul li a{
  color: black;
  padding: 20px;
  font-size: .7rem;
  font-weight: 500;
 
}
.menu-principale nav ul li a:hover{
  border-bottom: 2px solid black;
}

.menu-principale div img{
  height: 1.2rem;
}

.menu-principale a{
  text-decoration: none;
  font-size: .7rem;

}
.accedi{
  color: black;
  margin-right: 10px;
}
.inizia{
  color: white;
  background-color: rgb(0,97,255);
  padding: 4px 7px;
}